django_project/erp
django_project/accounting/__pycache__
django_project/accounting/migrations/__pycache__
django_project/appsystem/__pycache__
django_project/appsystem/migrations/__pycache__
django_project/authentication/__pycache__
django_project/authentication/migrations/__pycache__
django_project/company/__pycache__
django_project/django_project/company/migrations/__pycache__
django_project/dms/__pycache__
django_project/dms/migrations/__pycache__
django_project/django_project/helpdesk/__pycache__
django_project/helpdesk/migrations/__pycache__
django_project/inventory/__pycache__
django_project/inventory/migrations/__pycache__
ldjango_project/ayout/__pycache__
ldjango_project/ayout/migrations/__pycache__
django_project/node_modules/*
django_project/gulpfile
django_project/.pdf
django_project/.json
django_project/.log
django_project/.lock
Dockerfile
docker-compose.yml
.env

